<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" packages="de.rub.nds.socketproxy.log">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </Console>
        <CustomAppender name="CustomAppender">
            <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
        </CustomAppender>
    </Appenders>
    <Loggers>
        <Root level="debug">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="CustomAppender"/>
        </Root>
    </Loggers>
</Configuration>